
body {
    background-color: rgb(60, 60, 60);}

* {
    font-family: ProximaNova, Helvetica;
}

h2{
    margin-left: 2.25vh;
    font-size: 1.75rem;
    color: white;
}


h1 {
    text-align: center;
    font-size: 4.5rem;
    font-family: ProximaNova, Helvetica;
    color: white;
}

 section.movie {
    
    height: 10cm;
} 
.movie-card {
   margin-bottom: 1.25vh;
   font-size: 1.1rem;
   font-family: ProximaNova, Helvetica;
   font-weight:700;
   color: white;
   max-width: 642px;
   margin-left: 1.5vh;
   margin-right: 1.5vh;
   
   
}

.ratingFont{
    font-weight:500;
    margin: 0.1cm;

}


.name {
    max-width: 342px;
}


img {
    border-radius: 0.15cm;
    width: 30vh;
}

 .allMovies {
    background-color: rgb(60, 60, 60);
    display:flex;
    flex-wrap:wrap;
    /* justify-content: left; */
    justify-content: center;
    margin: 2vh;
}  

.loadMore-container{
    margin: auto;
    padding: 10px;
    text-align: center;
    size: 1vh;
}

#searchBarArea {
    text-align: center;
    font-size: rem;
}

#search-input{
    width: 8cm;
    height: 1.25cm;
    border-radius: 0.3cm;
}

#submitButton{
    width: 3cm;
    height: 1.25cm;
    border-radius: 0.3cm;
    
}

#load-more-movies-btn{
    width: 3cm;
    height: 1.25cm;
    border-radius: 0.3cm;
}

#close-search-btn{
    width: 3cm;
    height: 1.25cm;
    border-radius: 0.3cm;
}






/* 
.movie {
    flex: 1;
    height: 100px;
} */
