
body {
    background-color:whitesmoke
}

h1 {
    text-align: center;
}

 section.movie {
    background-color: black;
    height: 10cm;
} 

img {
    border-radius: 0.2cm;
}

 /* .allMovies {
    background-color: green;
    margin: auto;
    height: 100cm;
}  */

